@model IEnumerable<Web.Models.Products>

@{
    ViewBag.Title = "Product";
    Layout = Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<style>

    a.btn-details {
        margin: 90px;
    }

    a.btn-addbasket {
        margin: 75px;
    }
</style>
<body>
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    All Product
                </h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                   
                    <div class="col-sm-6 col-xl-3">
                        <div class="box">
                            <a href="">
                                <div class="img-box">
                                    <img src="@item.ImageProduct" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        @item.ProductName
                                    </h6>
                                    <h6>
                                        Price:
                                        <span>
                                            @item.ProductPrice
                                        </span>
                                    </h6>
                                </div>
                                @if (item.ProductId > 10 && item.ProductId < 15)
                                {
                                    
                                }


                            </a>
                        </div>
                    </div>


                }
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </section>






</body>

