@{
    ViewBag.Title = "About";
}
<section class="about_section layout_padding">
<div class="container  ">
    <div class="row">
        <div class="col-md-6 col-lg-5 ">
            <div class="img-box">
                <img src="~/Content/images/logo.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="detail-box">
                <div class="heading_container">
                    <h2>
                        About Us
                    </h2>
                </div>
                <p style="color:#000000">
                    We are a team of passionate individuals who specialize in providing high-quality fragrances with a diverse range of scents. With over 10 years of experience in the perfume industry, we strive to bring unique and exciting experiences to our customers.
                </p>
                <p style="color:#000000">
                    We pride ourselves in being one of the leading perfume providers, offering a wide selection of famous brands and exclusive products developed by us. Our team of experts ensures that each fragrance is carefully selected and quality tested before being delivered to our customers.
                </p>
                <p style="color:#000000">
                    We not only provide excellent fragrance products, but also offer helpful advice to assist our customers in finding their perfect scent based on their style and preferences. We understand that fragrance is an important part of life and we aim to provide our customers with the best experiences.
                </p>
                <p style="color:#000000">
                    We are committed to providing our customers with the best fragrance products and excellent customer service. Come and explore a world of beautiful and enticing scents with us.
                </p>

            </div>
        </div>
    </div>
</div>
</section>